* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(rgb(129, 196, 255), rgb(216, 180, 246));
  background-attachment: fixed;
}

section {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(63, 58, 78);
  color: white;
  border-radius: 16px;

  max-width: 30rem;

  margin-left: auto;
  margin-right: auto;

  transition: .2s;
}

.heading {
  text-align: center;
  font-size: 20px;
}

.content {
  text-align: center;
}

#divineFortune {
  background: linear-gradient(160deg, rgb(207, 87, 255), rgb(255, 125, 186));
  background-size: 200% 100%;
  background-position: 100% 0;

  font-family: "Caveat", cursive;
  font-size: 2em;
  font-weight: bold;
  color: white;

  padding: 10px 20px;
  margin-top: .5em;
  border-radius: 10px;
  border: transparent;

  transition: 0.3s;
}

#divineFortune:hover{
  background-position: 0 0;
  box-shadow: 0px 0px 15px rgba(255, 0, 255, 0.5);

  cursor: pointer;
}

#divineFortune:active{
  box-shadow: 0px 0px 15px rgba(255, 0, 255, 1);
}

#fortune {
  font-family: "Caveat", cursive;
  font-size: 2em;

  text-shadow: 0px 0px 20px rgb(255, 134, 255);
}

#discovered {
  background-color: aliceblue;
  color: black;
  padding: .5rem;
  border-radius: 8px;
}

li {
  padding: 10px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  section {
    max-width: 100%;
    margin: 0;

    border-radius: 0px;

    transition: .2s;
  }

  body {
    margin: 0px;
  }
}